.chat
  .header
    .left-header
      .left-header__title
      = @group.user.name
      .left-header__members Members:
       = @group.user.name
    .right-header
      %button{:type => "edit"} Edit


  .messages
    .message
      .upper-message
        .upper-message__user-name
        = message.user.name
        .upper-message__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
      .lower-message
        - if message.content.present?
        .lower-message__content
         = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?


.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: '  type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit', id: 'new_message'


